.accueil-container {
    min-height: 100vh;
    background: #f0f4f8;
    width: 100%;
}

.content {
    padding: 40px 30px;
    margin: 0 auto;
    background:rgb(216, 241, 248) ;
    width: 100%;
}
.content h1{
    font-size: 45px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.content p{
    font-size: larger;
}
.lost{
    width: 50%;
    padding-right: 50px;
}
.found{
    width: 50%;
    padding-left: 50%;
}